.header {
  background-color: $primary-color;
  color: $primary-color;
  padding: 1rem;
  position: fixed;
  top: 0;
  line-height: 2.5rem;
  width: 100%
}

.footer {
  background-color: $primary-color;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 5rem;
  line-height: 2.5rem;
  text-align: center;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}