// Global variables
$font-color: #191716;

// Color palettes
$primary-color: #f6e200;
$marian-blue: #26408B;
$light-blue: #A6CFD5;
$federal-blue: #0F084B;
$mint-green: #C2E7D9;
$indian-red: #E15554;
$crayola-pink: #F45B69;
$light-gray: #F8F8F8;
$rose-taupe:#7C616C;
$eerie-black:#191716;
